body {
  background: lightgreen;
}

h1 {
  font-family: Times;
  font-style: italic;
  text-align: center;
}

h2 {
  font-style: bold;
}

h4 {
  font-style: bold;
}

p {
  color: green;
  background-color: rgb(51, 51, 51);
  padding: 5px;
  display: inline-flex;
}

p:hover {
  background-color: yellow;
  color: green;
}

li {
  color: #94441ab9;
  padding-left: 25px;
}

div#gif {
  background-image: url("../img/dance.gif");
}