<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
  @{
    Layout = "_Layout";
  }
  <h1>Welcome Traveler to Hyrule...its dangerous to go alone.</h1>
  <center>
    <img src='~/img/photo2.jpg' alt='Zelda BotW Background' style="vertical-align:middle;margin:50px 50px" />
  </center>
  @* <audio controls src='@Url.Content("~/audio/HeartContainer.wav")' type="audio/wav" loop="loop" autoplay="autoplay"></audio> *@
  
</html>