@{
  Layout = "_Layout";
}

@model BOTW.Models.Location;

<h4>Create a Location</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br><span class="glyphicon glyphicon-tower" aria-hidden="true"></span><br><input type="submit" value="Add Location">
}